body {
    font-family: "Roboto", sans-serif;
}

.dummy {
    margin: 20px auto;
    width: 50%;
    padding: 16px;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.card__image {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
}

.card__info {
    padding: 16px;
}

.card__title {
    font-size: 20px;
    font-weight: 700;
}