body {
    font-family: "Inter";
}

main {
    padding: 2rem;
}

/*h1 {*/
/*    color: hsl(231, 48%, 48%);*/
/*}*/

form h1 {
    color: hsl(231, 48%, 48%);
}

form > p {
    font-size: 36px;
    color: #c2185b;
}

/*label + input {*/
/*    display: block;*/
/*    margin-top: 8px;*/
/*}*/
label ~ input {
    display: block;
    margin-top: 8px;
}

* + fieldset {
    margin: 32px;
}

label ~ span {
    font-size: 12px;
    color: gray;
}

label + span:before {
    content: "(";
    color: red;
}

label + span:after {
    content: ")";
    color: red;
}
input::placeholder {
    color: pink;
}

.first-letter {
    font-family: "Noto Sans";
    font-weight: 900;
    font-size: 40px;}

h1::first-letter {
    font-family: "Noto Sans";
    color: peru;
}